@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background: linear-gradient(to right, #67b26f, #4ca2cd);
  font-family: "Roboto", sans-serif;
  color: aliceblue;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 70%;
  margin: 50px auto 0;
}

header form,
.searchBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header form *,
.searchBox * {
  margin: 5px 0;
}

header form input,
.searchBox input {
  width: 350px;
  border-radius: 5px;
  outline: none;
  border: none;
  height: 30px;
  line-height: 30px;
}

header form button {
  width: 130px;
  border: none;
  border-radius: 5px;
  height: 25px;
  text-transform: uppercase;
}

.searchBox button {
  visibility: hidden;
}

main h1 {
  margin: 50px 0 0 40px;
}

main ul li {
  position: relative;
  list-style: none;
  background-color: whitesmoke;
  width: 50%;
  line-height: 30px;
  border-radius: 5px;
  color: black;
  margin-bottom: 15px;
  padding: 15px 10px 15px 30px;
}

main ul li span {
  display: block;
  width: 70%;
}

main ul li button {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  border: 1px solid grey;
  padding: 5px 25px;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

main ul li button:hover {
  background-color: #f33636a6;
}

.siteCover {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.confirmationBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 150px;
  background-color: whitesmoke;
  color: black;
  border: 1px solid gray;
  border-radius: 5px;
}

.confirmationBoxText {
  text-align: center;
  padding-top: 60px;
}

.confirmationBoxButtons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.confirmationBoxButtons button {
  padding: 5px 35px;
  margin: 15px 30px;
  cursor: pointer;
}

@media (orientation: portrait) and (max-width: 600px) {
  header {
    flex-direction: column;
  }

  header form input,
  .searchBox input {
    max-width: 70%;
  }

  .searchBox {
    margin-top: 20px;
  }

  main h1 {
    margin: 0px 0 0 20px;
  }

  main ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  main ul li {
    width: 80%;
  }

  main ul li span {
    width: 60%;
  }

  main ul li button {
    right: 20px;
  }
}
